@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply flex flex-col min-h-screen
}

footer {
    @apply mt-auto
}

/* form */
form {
    @apply flex flex-col
}

form label {
    @apply flex flex-col
}

form label span {
    @apply font-semibold pt-2 pb-1
}

form label input, form label textarea {
    @apply border border-dark-gray placeholder:text-dark-gray px-3 py-2 rounded-md focus:outline-none
}

input {
    @apply focus:outline-none
}

/* textarea {
    @apply rounded-md px-3 py-2
} */

/* remove default input calendar icon */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* headers */

h1 {
    @apply text-3xl font-bold
}

h2 {
    @apply text-2xl font-bold
}
h3 {
    @apply text-lg font-bold
}

/* footer */

footer {
    @apply bg-charcoal
}

/* calendar styling */

#calendar_container .react-calendar {
    @apply border rounded-md shadow-md shadow-triary-light p-2 text-dark-gray
}

#calendar_container .react-calendar .react-calendar__navigation {
    @apply p-2 text-right space-x-2
}

.react-calendar__month-view__weekdays {
    @apply text-center
}

.react-calendar__month-view__weekdays abbr {
    @apply font-bold no-underline
}

.react-calendar__month-view__days button {
    @apply py-2
}

.react-calendar__month-view__days button:disabled {
    @apply line-through
}

.react-calendar__tile--active {
    @apply text-white font-bold bg-primary
}

/* scrollbar */
/* Hide scrollbar but keep scrolling */
/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */